# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log

# Exclude all .tfvars files, which are likely to contain sensitive data, such as passwords
*.tfvars

# Ignore override files as they are usually used to override resources locally and should not be shared
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Include .terraformrc and terraform.rc files as they are user-specific configuration files
.terraformrc
terraform.rc

# Ignore any plan output files
*.tfplan